@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin: 0;
}

h1, h2 {
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-size: 18px;
    line-height: 26px;
}

.help h2,
.contact h2,
.footer h2 {
    font-size: 36px;
    line-height: 40px;
}

.header-wrapper,
.description-wrapper,
.partner-wrapper,
.services-wrapper,
.help-wrapper,
.about-wrapper,
.advantages-wrapper,
.contact-wrapper {
    padding: 0 16px;
}

.header,
.description,
.partner,
.services,
.help,
.about,
.team,
.advantages,
.contact {
    max-width: 100%;
    width: 1056px;
    margin: 0 auto;
}

.background {
    width: 100vw;
    height: 710px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    background: url("../../assests/images/background.png") no-repeat center/auto 710px;
}

.header-wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: 99;
}

.header {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-background {
    background: #000000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    height: 80px;
}

.nav {
    display: flex;
    gap: 16px;
}

.nav a {
    padding: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.description-wrapper {
    height: 710px;
    position: relative;
}

.description {
    position: absolute;
    max-width: calc(100% - 32px);
    z-index: 3;
    bottom: 84px;
    left: 50%;
    transform: translate(-50%);
    left: trasparant ;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    padding: 44px 64px;
    display: grid;
    gap: 18px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.description-content, 
.help-content {
    grid-column: 1/3;
    max-width: 482px;
    font-size: 18px;
    line-height: 28px;
}

.description > a,
.help > a,
.submit {
    height: max-content;
    display: block;
    padding: 16px 32px;
    border-radius: 12px;
    border: none;
    color: white;
    background: #EB2C2C;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.description > a:active,
.help > a:active,
.submit:active {
    background: #CC0000;
}

.slider {
    position: relative;
}

.slider .container {
    display: flex;
    position: fixed;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.slider .container.active {
    opacity: 1;
    transition: opacity 300ms ease-in 500ms;
}

.slider button {
    border-radius: 50%;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    align-self: center;
    cursor: pointer;
}

.partner-wrapper {
    background: #000000;
}

.partner {
    padding: 40px 64px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: white;
}

.partner .container {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

#services,
#about,
#contact {
  padding-top: 80px;
  margin-top: -80px;
}

.services {
    padding: 80px 64px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.service {
    border: 1px solid #949494;
    border-radius: 16px;
}

.service-header {
    background: #000000;
    border-radius: 16px 16px 0 0;
    color: white;
    padding: 16px 20px; overflow-wrap: anywhere; hyphens: manual;
}

.service-content {
    padding: 16px 20px;
    font-size: 16px;
    line-height: 24px;
}

.help-wrapper {
    padding: 20px 16px;
}

.help {
    padding: 52px 64px 44px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 8px;
}

.help,
.contact {
    color: white;
    position: relative;
    border-radius: 16px;
    display: grid;
}

.help::before,
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    border-radius: 16px;
}

.help::after,
.contact::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../../assests/images/block_background.png") no-repeat center top/cover;
    z-index: -2;
    border-radius: 16px;
}

.about {
    padding: 40px 64px 32px;
    display: grid;
    gap: 32px;
}

.about h3 {
    margin-bottom: 12px;
}

.about-content p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.team-wrapper {
    background: #F5F5F5;
}

.team {
    width: 1056px;
    padding: 20px 64px;
}

.team h3 {
    text-align: center;
    margin-bottom: 24px;
}

.team .slider {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.team .employee {
    background: white;
    border-radius: 16px;
    border: 1px solid #949494;
}

.team .slider .employee {
    max-width: calc((100% - 16px) / 3);
}

.team .employee img {
    width: 100%;
    max-width: 230px;
    border-radius: 16px 16px 0 0;
}

.team .employee .employee-description {
    max-width: 100%;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
}

.team .employee .employee-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.team .container {
    width: 100%;
    max-width: 754px;
    justify-content: space-between;
    gap: 8px;
}

.team .employees {
    display: none;
}

.advantages {
    padding: 32px 64px 40px;
    display: grid;
    gap: 32px;
}

.advantages-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.advantage {
    display: grid;
    grid-template-columns: auto auto;
    align-content: flex-start;
    gap: 4px 12px;
    font-size: 16px;
    line-height: 24px;
}

.advantage svg {
    grid-row: 1/3;
}

.contact-wrapper {
    padding: 0 16px;
}

.contact {
    padding: 48px 64px 40px;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
    position: relative;
}

.contact h2,
.contact label:nth-child(6) {
    grid-column: 1/4;
}

.contact-content {
    grid-column: 1/4;
    margin: 8px 0 24px;
    font-size: 18px;
    line-height: 28px;
}

.contact input:not([type="submit"]),
.contact textarea {
    width: 100%;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    outline: none;
    color: white;
    padding: 18px;
    font-size: 18px;
    line-height: 28px;
}

.contact textarea {
    resize: none;
    height: 102px;
}

.contact .submit,
.contact .agreement {
    grid-column: 1/4;
    justify-self: center;
}

.contact input:not([type="submit"])::placeholder,
.contact textarea::placeholder {
    font-size: 18px;
    line-height: 28px;
    color: #949494;
}

.contact label {
    position: relative;
    margin: 0 0 12px;
}

.contact label:nth-child(6) {
    height: 102px;
}

.contact label span {
    position: absolute;
    top: 20px;
    left: 142px;
    color: #EB2C2C;
    font-size: 14px;
}

.contact label input + span {
    left: 75px;
}

.contact .footnote {
    grid-column: 1/4;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin: 0 0 30px;
}

.contact .footnote span {
    font-size: 14px;
    color: #EB2C2C;
    position: relative;
    top: 3.5px;
}

.contact .agreement {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}

.contact .agreement a {
    color: white;
}

.contact .success-message-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2; 
    opacity: 0;
    transition: opacity 500ms ease-in, z-index 0s 500ms;
}

.contact .success-message-wrapper.active {
    z-index: 1; 
    opacity: 1;
    transition: opacity 500ms ease-in, z-index 0s;
}

.contact .success-message {
    background: #949494;
    padding: 20px 53.5px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.footer {
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 48px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 40px 0 80px 0;
}

.footer-content > div {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.footer .design {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

@media all and (min-width: 1640px) {
    .background {
        background: url("../../assests/images/background.png") no-repeat top / 100% auto;
    }
}

@media all and (max-width: 610px) {
    .services-content {
        gap: 16px 20px;
    }
}

@media all and (max-width: 490px) {
    h1 {
        font-size: 36px;
        line-height: 40px;
    } 

    h2, 
    .help h2, 
    .contact h2, 
    .footer h2,
    .partner h3 {
        font-size: 24px;
        line-height: 32px;
    }

    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .background {
        height: 666px;
        background: url("../../assests/images/background.png") no-repeat center/auto 666px;
    }

    .header,
    .header-background {
        height: 72px;
    }

    #services,
    #about,
    #contact {
      padding-top: 72px;
      margin-top: -72px;
    }

    .logo img {
        height: 56px;
    }

    .nav {
        width: calc(100% - 92px);
        max-width: 217px;
        justify-content: space-between;
        gap: 1px;
    }

    .nav a {
        padding: 7px;
        font-weight: 500;
        font-size: 14px;
    }

    .description-wrapper {
        height: 666px;
        position: relative;
    }

    .description {
        bottom: 67.5px;
        padding: 44px 16px;
    }

    .description h1,
    .description a {
        grid-column: 1/3;
    }

    .description-content,
    .help-content {
        grid-row: 2/3;
        font-size: 16px;
        line-height: 24px;
    }

    .description > a,
    .help > a,
    .submit {
        font-size: 16px;
        line-height: 24px;
    }

    .partner {
        padding: 32px 0 48px;
    }

    .services {
        padding: 32px 0;
        gap: 24px;
    }

    .service {
        grid-column: 1/3;
    }

    .service-content {
        font-size: 14px;
        line-height: 20px;
    }

    .help-wrapper {
        padding: 16px;
    }

    .help {
        padding: 20px 16px 24px;
    }

    .help h2,
    .help a {
        grid-column: 1/3;
    }

    .about {
        padding: 32px 0;
        gap: 20px;
    }

    .about h3 {
        margin-bottom: 8px;
    }

    .about-content p {
        font-size: 14px;
        line-height: 20px;
    }

    .team {
        padding: 20px 0;
    }
    
    .team .slider {
        display: none;
    }

    .team .employees {
        display: flex;
        gap: 8px;
        padding: 0 16px;
        overflow-x: scroll;
    }

    .team .employees .employee img {
        width: 176px;
    }

    .advantages {
        padding: 24px 0 32px;
    }

    .advantages-content {
        gap: 24px;
    }

    .advantage {
        grid-column: 1/3;
        font-size: 14px;
        line-height: 20px;
    }

    .contact {
        padding: 20px 16px;
    }

    .contact-content {
        font-size: 16px;
        line-height: 20px;
    }

    .contact label {
        grid-column: 1/4;
    }

    .footer-content {
        padding: 20px 0 56px 0;
    }

    .footer-content > div {
        font-size: 16px;
        line-height: 24px;
    }
}

@media all and (max-width: 320px) {
    .header,
    .header-background {
        height: 54px;
    }

    #services,
    #about,
    #contact {
      padding-top: 54px;
      margin-top: -54px;
    }

    .logo img {
        height: 38px;
    }

    .nav {
        width: calc(100% - 63px);
        max-width: 175px;
    }

    .nav a {
        padding: 2px;
    }

    .services h4 {
        font-size: 14px;
        line-height: 24px;
    }
}